/* Hamburger Icon	☰	&#9776;	\2630
Close Icon	×	&#215;	\00D7*/

/*Color pallete
Background: #F7F9F9
Primary: #601700
Secondary: #00A676
Accent: #044389
#E0D0C1

*/

* {
    font-family: "Lexend Deca", sans-serif;
    box-sizing: border-box;
    --background-color: #F7F9F9;
    --primary-color: #601700;
    --secondary-color: #00A676;
    --accent: #044389;
    --accent2: #E0D0C1
}

body {
    font-family: "Lexend Deca", sans-serif;
    background-color: #F7F9F9;
}

main,
nav {
    margin-left: 1rem;
    margin-right: 1rem;
}

header {
    display: grid;
    grid-template-columns: 20px auto 44px;
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border-bottom: 1px solid grey;
    column-gap: 1rem;
    align-items: center;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.5rem;
    /* font-weight: 600; */
}

h1 {
    font-size: 1.5rem;
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger-button::before {
    color: #fff;
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger-button.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
}

.navigation.show ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation.show a {
    color: #fff;
    text-decoration: none;
}

.navigation.show li {
    padding: 0.5rem 0;
}

.directory-card {
    background-color: var(--accent2);
    font-size: smaller;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
    text-align: center;
}


.list img {
    display: none;
}

section.company-info {
    margin-top: 1rem;
    background-color: var(--background-color);
}

footer {
    background-color: var(--secondary-color);
    padding: 1rem 0;
    text-align: center;
    width: auto;
}

.social-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
    width: auto;
}

.social-footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    text-decoration: none;
}

.social-footer img {
    width: 24px;
    height: 24px;
}

.social-footer a:hover {
    background-color: var(--accent2);
}

footer p {
    margin: 0.25rem 0;
    min-height: 1.25rem;
}


.directory-card img,
.social-footer img,
header img {
    aspect-ratio: 1 / 1;
}

dialog {
    border: none;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.5rem;
    border: none;
}

.membership {
    padding: 1rem;
    text-align: center;
    margin: 0.5rem;
    background-color: grey;
    border-radius: 5px;
}