@media only screen and (min-width: 600px) {
    .hamburger-button {
        display: none;
    }

    header {
        grid-template-columns: 3rem auto;
    }

    header,
    main,
    nav,
    footer {
        max-width: 1000px;
        margin: 0 auto;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .navigation a {
        color: black;
        text-decoration: none;
    }

    .directory-card {
        max-height: 35rem;
        max-width: 25rem;
        font-size: small;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list .directory-card {
        max-width: 40rem;
        padding: 4rem;
        font-size: medium;
    }
}