/* Hamburger Icon	☰	&#9776;	\2630
Close Icon	×	&#215;	\00D7*/

/*Color pallete
Background: #F7F9F9
Primary: #601700
Secondary: #00A676
Accent: #044389
#E0D0C1

*/

* {
    font-family: "Lexend Deca", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F7F9F9;
}

main,
nav {
    margin-left: 1rem;
    margin-right: 1rem;
}

header {
    display: grid;
    grid-template-columns: 20px auto 44px;
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: #601700;
    color: #fff;
    border-bottom: 1px solid grey;
    column-gap: 1rem;
    align-items: center;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.5rem;
    /* font-weight: 600; */
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger-button::before {
    color: #fff;
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger-button.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #601700;
    color: #fff;
}

.navigation.show ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation.show a {
    color: #fff;
    text-decoration: none;
}

.navigation.show li {
    padding: 0.5rem 0;
}

footer {
    background-color: #00A676;
    padding: 1rem 0;
    text-align: center;
}

.social-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
    width: auto;
}

.social-footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    text-decoration: none;
}

.social-footer img {
    width: 24px;
    height: 24px;
}

.social-footer a:hover {
    background-color: #E0D0C1;
}