@media only screen and (min-width: 600px) {
    .hamburger-button {
        display: none;
    }

    header {
        grid-template-columns: 3rem auto;
    }

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navigation li {
        list-style: none;
    }

    .navigation a {
        color: #fff;
        text-decoration: none;
    }

    .info-sections {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        align-items: start;
    }

    .about-section {
        padding-bottom: 51.4%;
    }
}