@media only screen and (min-width: 900px) {
    .hamburger-button {
        display: none;
    }

    header {
        grid-template-columns: 3rem auto;
    }


    header,
    main,
    nav,
    footer {
        max-width: 1000px;
        margin: 0 auto;
    }
}