* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    font-family: 'Enriqueta', serif;
}

.hero-section {
    display: none;
}

/* .hero-section img {
    display: none;
} */

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger-button::before {
    color: #fff;
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger-button.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
}

.navigation.show ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation.show a {
    color: #fff;
    text-decoration: none;
}

.navigation.show li {
    padding: 0.5rem 0;
}

.social-footer img {
    color: #fff;
}