@media only screen and (min-width: 900px) {

    .hamburger-button {
        display: none;
    }

    header {
        grid-template-columns: 3rem auto;
    }


    header,
    main,
    nav,
    footer {
        max-width: 1000px;
        margin: 0 auto;
    }

    .hero-section {
        display: block;
        width: 100%;
        height: auto;
        animation-name: fade-in;
        animation-duration: 3s;
    }

    .hero-section img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
    }

    .hero-section-text {
        position: absolute;
        color: white;
        top: 20%;
        margin-left: 1rem;
        background-color: black;
        opacity: 0.9;
        padding: 1rem;
        border-radius: 8px;
    }

    .hero-mobile-section {
        display: none;
    }

    .navigation {
        display: block;
        margin-bottom: 1rem;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .navigation a {
        color: #fff;
        text-decoration: none;
        padding: 1rem;
    }

    .sections {
        flex-direction: row;
    }

    .products {
        background-image: none;
        border: 1px solid #fff;
        padding: 1rem;
    }

    .partners {
        background-image: none;
        border: 1px solid #fff;
        padding: 1rem;
    }

    /* ----------Products Page CSS ----------*/
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-modal {
        width: 90%;
        position: fixed;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
}