* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #283F3B;
    --secondary-color: #545454;
}

body {
    background-color: black;
    color: #fff;
    font-family: 'Enriqueta', serif;
}

.top-bar {
    display: flex;
    justify-content: space-around;
}

.hero-section {
    display: none;
}

.hero-mobile-section {
    display: block;
    width: 100%;
    height: auto;
    animation-name: fade-in;
    animation-duration: 3s;
}

.hero-mobile-section img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.mobile-section-text {
    position: absolute;
    color: white;
    top: 20%;
    background-color: black;
    opacity: 0.9;
    padding: 1rem;
    border-radius: 8px;
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger-button::before {
    color: #fff;
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger-button.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
}

.navigation.show ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation.show a {
    color: #fff;
    text-decoration: none;
}

.navigation.show li {
    padding: 0.5rem 0;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    animation-name: fade-in;
    animation-duration: 3s;
}

.products {
    background-image: url("https://raw.githubusercontent.com/ethanatkinson25/wdd231/main/finalproject/images/homeimages/pipes.webp");
    padding: 1rem;
}

.partners {
    background-image: url("https://raw.githubusercontent.com/ethanatkinson25/wdd231/main/finalproject/images/homeimages/serverroom.webp");
    padding: 1rem;
}

.social-footer {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

footer {
    margin: 1rem;
    text-align: center;
}

.social-footer img {
    color: #fff;
}

.social-footer a {
    padding: 1rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* ----------Products Page CSS ----------*/
.product-modal {
    background-color: black;
    color: #fff;
    animation-name: fade-in;
    animation-duration: 2s;
    width: 100%;
    max-width: 400px;
}

.product-modal.fade-out {
    animation-name: fade-out;
    animation-duration: 2s;
}

.modal-content {
    padding: 1rem;
    background-color: var(--secondary-color);
    color: #fff;
    border: 2px solid #fff;
    animation-name: fade-in;
    animation-duration: 2s;
}

.modal-content.fade-out {
    animation-name: fade-out;
    animation-duration: 2s;
}

.close-button {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
    line-height: 1;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.product-card {
    background-color: var(--primary-color);
    animation-name: fade-in;
    animation-duration: 2s;
}